<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="myData">
       Name  <input type="text" name="name"><br><br>
        Surname<input type="text" name="sname"><br><br>
        <input type="submit" name="">
    </form>
</body>
</html>